.pj{float:left;width:888px;margin:20px 20px 0 20px;background-color:#fff;padding:24px 0 20px 0;}
.pj .u1{float:left;text-align:center;width:100px;}
.pj .u1 li{float:left;}
.pj .u1 .l1{width:100px;padding:0 0 15px 0;}
.pj .u1 .l1 img{border-radius:50px;}
.pj .u1 .l2{width:100px;color:#999;}
.pj .u2{float:left;text-align:left;width:658px;}
.pj .u2 li{float:left;}
.pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 10px 0;line-height:25px;width:658px;}
.pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:658px;}
.pj .u2 .l3{padding:10px 0 0 0;width:658px;color:#999;}
.pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.pj .d2 span{float:left;padding:0 30px 0 0;width:100px;}
.pj .d2 .s1{background:url(img/pj1.gif) right center no-repeat;}
.pj .d2 .s2{background:url(img/pj2.gif) right center no-repeat;}
.pj .d2 .s3{background:url(img/pj3.gif) right center no-repeat;}
.pj1{border-left:#FFAC13 solid 2px;}
.pj2{border-left:#83C44E solid 2px;}
.pj3{border-left:#2196F3 solid 2px;}

/*切换*/
.banner{float:left;height:300px;overflow:hidden;width:100%;}
.banner .d1{float: left;width: 100%;height: 300px;overflow: hidden;position: relative;z-index: 0;}
.banner .d2{float:left;width:100%;min-width:1180px;height:30px;clear:both;position:absolute;z-index:8;left:0px;margin-top:270px;}
.banner .d2 ul{float:left;position:absolute;left:48.8%;display:inline;}
.banner .d2 li{margin: 0 3px;display:inline-block;width:30px;height:12px;background-color:rgba(255, 255, 255, 0.68);}
.banner .d2 li.nuw{background-color:#fff;}
