#eval, #searchtype,  .icons,.login_icon {background: url(/images/focus2018.png) no-repeat;
}
	.index_menu {
	background:#fff;
	width:1200px;
	line-height:14px;

}
.index_menu div {
	float:left;
	width:1200px;
	BORDER:#eee 3px solid
}
.index_menu strong {
	font-size:14px;
	background:#e2e2e2;
	float:left;
	width:8%;
	text-align:center;
	line-height:38px
}
.index_menu span {
	float:left;
	padding-top:10px;
	width:92%;
	overflow:hidden
}
.index_menu a {
	background:#fafafa;
	display:inline;
	float:left;
	letter-spacing:1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px;
	BORDER:#eee 1px solid;
	margin-left:12px
}
.index_menu a:hover {
	background:#eee;
	BORDER-COLOR:#ddd
}
.ads {
	overflow:hidden;
	width:1200px
}
.index_title {
	height:39px;
	width:1200px;
	position:relative;
	/* width: 1200px; */
	overflow: hidden;
}
.index_title a,.index_title h2 {
	float:left;
	font-size:12px;

	font-weight:400
}
.index_title a {
	float:right;
	color:#ddd
}
.index_tab span {
	float:left
}
.i_c_div,.i_s_div {

	width:1200px;
	overflow:hidden
}
.i_c_div {

	/*height: 676px;*/
	overflow:hidden;
	/*BORDER-BOTTOM:#e9e9e9 2px solid;*/
	     
		       margin-bottom: 10px;
}
.rank_shop {
	float:right;
	width:208px;
	height:330px;
	padding:5px 10px;
	overflow:hidden;
	margin-top:10px;
	border:#e2e2e2 1px solid;
	background:#fff
}
.rank_shop div {
	float:left;
	padding:7.5px 0;
	width:100%;
	border-bottom:1px dashed #eee
}
.rank_shop .avatar {
	float:left
}
.rank_shop .name {
	font-size:12px;
	padding-left:8px
}
.rank_shop .name:hover {
	text-decoration:underline
}
.rank_shop p {
	padding-left:38px;
	color:#ccc
}
.rank_shop b {
	color:#f1453a;
	font-size:16px;
	font-family:Georgia
}
.rank_shop em {
	color:red
}
.rank_shop span {
	float:left;
	line-height:20px
}
.rank_shop i {
	float:left;
	display:inline;
	width:19px;
	height:19px;
	margin-top:10px;
	margin-left:10px;
	BACKGROUND-POSITION:-252px -390px
}
.r_s_1 p {
	font-size:14px;
	padding-left:10px
}
.r_s_1 b {
	font-size:20px
}
.r_s_1 i {
	BACKGROUND-POSITION:-332px -105px;
	width:29px;
	height:29px;
	margin-top:5px;
	margin-left:10px
}
.r_s_3 i {
	BACKGROUND-POSITION:-280px -390px
}
.r_s_4 i {
	BACKGROUND-POSITION:-252px -414px
}
.r_s_5 i {
	BACKGROUND-POSITION:-280px -414px
}
.r_s_1 .name {
	font-weight:700;
	font-size:10px;
	line-height:38px
}
.rec_shop {

    width: 1200px;
    overflow: hidden;
    margin-top: -150px;
    margin-left: 100px;
}
.rec_shop div {
	float:left;margin-top: -10px;
	width:1200px
}
.rec_shop ul {
	float:left;
	width:210px;
	border:#e2e2e2 1px solid;
	margin:10px 10px 0 0;
	background:#fff
}
.rec_shop ul:hover {
	border-color:#ccc
}
.rec_shop ul li {
	display:inline;
	float:left;
	width:180px;
	margin:15px 10px 5px 10px
}
.rec_shop .avatar {
	float:left;
	width:36%
}
.rec_shop a.name {
	font-size:14px;
	width:100%;
	font-weight:700;
	height:18px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.rec_shop a.name:hover {
	text-decoration:underline
}
.rec_shop .avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.rec_shop .info {
	width:60%;
	margin-left:4%;
	float:left;
	overflow:hidden
}
.rec_shop .info p {
	padding:9px 0 0 0
}
.rec_shop .info .i_bz {
	padding-bottom:6px;
	line-height:11px;
	height:11px;
	overflow:hidden
}
.rec_shop .info a.slink {
	float:left;
	background:#495B6C;;
	border:#495B6C;1px solid;
	color:#FFF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:2px 5px;
	font-family:'΢���ź�'
}
.rec_shop .info a.slink:hover {
	color:#666;
	background:#f5faff
}
.hot_goods {
	padding-top:10px;
	border-top:#eee 5px solid
}
.hot_goods p {
	height:26px;
	line-height:26px;
	float:left;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.hot_goods strong {
	float:left;
	font-size:13px;
	height:13px;
	color:#666;
	position:relative;
	left:0;
	top:0;
	background:#fff;
	padding-right:5px;
	margin-top:-22px
}
.hot_goods i {
	color:#369
}
.hot_goods a {
	color:#666
}
.hot_goods a:hover {
	color:#f60
}
.hot_goods em {
	color:#f60;
	padding-right:10px
}
.tuan {

	overflow:hidden;
overflow: hidden;  float: right; width: 1100px;
}
.tuan .tuancon {
	width:1210px
}
.tuan .tuancon ul:hover {
	border:#d1d1d1 solid 1px
}
.tuan ul {
	float:left;
	width:210px;
	border:1px solid #e2e2e2;
	background:#fff;
	overflow:hidden;
	margin: 0px 10px 10px 0;
}
.tuan ul li {
	float:left;
	width:195px;
	padding:0 5px 5px 5px;
	  font-size: 12px;
}
.tuan ul .l1 {
	width:210px;
	height:174px;
	margin-bottom:5px;
	position:relative;
	padding:0
}


.u1 .l1 .djs{float:left;position:relative;width: 228px;padding:5px 0 0 0;margin:-73px 0 0 0;height:19px;text-align:center;background: url(../img/bghui1.png) left top repeat;color:#fff;}
.tuan ul .l2 {
	line-height:22px;
	height:40px
}
.tuan ul .l2 a {
	color:#999
}
.tuan ul .l2 span {
	color:#333
}
.tuan ul .l3 {
	color:#999;
	font-family:Georgia
}
.tuan ul .l3 span {
	float:left;
	line-height:30px
}
.tuan ul .l3 .xj {
	color:#f1453a;
	font-size:22px
}
.tuan ul .l3 .xj b {
	font-size:14px
}
.tuan ul .l3 .yj {
	text-decoration:line-through;
	margin:0 3px
}
.tuan ul .l3 .zk {
	padding-left:8px;
	background-position:-323px -72px
}
.tuan ul .l3 .go {
	float:right;
	background-position:-141px -126px;
	margin-top:3px
}
.tuan ul .l3 a {
	display:inline-block;
	width:60px;
	height:30px
}
.adcoind {
	WIDTH:1200px;
	overflow:hidden;
	MARGIN-TOP:10px
}
.adcoind .adc_hd2 {
	BORDER:#ddd 1px solid;
	FLOAT:left;
	WIDTH:1188px;
	BORDER-TOP:#AAA 2px solid
}
.adcoind .adc_hd2 .gunlr LI {
	FLOAT:left;
	height:146px;
	MARGIN-TOP:10px
}
.adcoind .adc_hd2 .gunlr LI.tit {
	MARGIN:10px 0;
	WIDTH:18px;
	BORDER:#d0d0d0 1px solid;
	BORDER-LEFT:0;
	background:#eee;
	height:131px;
	line-height:22px
}
.adcoind .adc_hd2 .gunlr LI.let {
	MARGIN:68px 0 0 10px;
	WIDTH:15px;
	BACKGROUND:url(../images/inimg.gif) no-repeat 0 0;
	HEIGHT:16px;
	CURSOR:pointer
}
.adcoind .adc_hd2 .gunlr LI.rit {
	MARGIN:68px 0 0 2px;
	WIDTH:15px;
	BACKGROUND:url(../images/inimg.gif) no-repeat right 0;
	HEIGHT:16px;
	CURSOR:pointer
}
.adcoind .adc_hd2 .gunlr LI.con {
	POSITION:relative;
	WIDTH:940px;
	OVERFLOW:hidden
}
.adcoind .adc_hd2 .gunlr LI.con .con_img {
	POSITION:absolute;
	WIDTH:2190px;
	LEFT:0
}
.adcoind .adc_hd2 .gunlr LI.con TABLE TD {
	PADDING:0 6px 0 10px;
	position:relative
}
.adcoind .adc_hd2 .gunlr LI.con TABLE TD span.xy {
	position:absolute;
	top:88px;
	right:13px;
	color:#fff;
	text-align:center
}
.adcoind .adc_hd2 .gunlr LI.con TABLE TD a {
	BORDER:#e3e3e3 1px solid;
	display:inline-block;
	PADDING:5px
}
.adcoind .adc_hd2 .gunlr LI.con TABLE TD a:hover {
	background:#f5f5f5
}
.adcoind .adc_hd2 .gunlr LI.con TABLE span {
	FLOAT:left;
	WIDTH:100px;
	MARGIN-top:6px
}
.adcoind .adc_hd2 .zxlr {
	width:230px;
	float:right;
	BORDER-LEFT:#ddd 1px solid
}
.adcoind .adc_hd2 .zxlr .u1 {
	float:left;
	height:31px;
	width:230px;
	background:#fff;
	border-bottom:1px solid #d0d0d0;
	line-height:31px;
	font-size:14px;
	font-weight:700
}
.adcoind .adc_hd2 .zxlr .u2 li {
	width:230px;
	LINE-HEIGHT:25px;
	text-align:left;
	COLOR:#5f5f5f
}
.adcoind .adc_hd2 .zxlr .u2 li span {
	MARGIN:0 0 0 10px
}
.adcoind .adc_hd2 .zxlr .u2 li a {
	COLOR:#75a5ed
}
.adcoind li,.adcoind ul {
	PADDING-BOTTOM:0;
	BORDER-RIGHT-WIDTH:0;
	FONT-STYLE:normal;
	MARGIN:0;
	PADDING-LEFT:0;
	OUTLINE-WIDTH:0;
	PADDING-RIGHT:0;
	BORDER-TOP-WIDTH:0;
	BORDER-BOTTOM-WIDTH:0;
	FONT-SIZE:100%;
	BORDER-LEFT-WIDTH:0;
	TEXT-DECORATION:none;
	PADDING-TOP:0;
	list-style-type:none
}
.c_d_list {
	width:1200px;

	background:#fff;
}
.c_d_list ul {
	display:inline;
	font-size:13px;
	width: 568px;
	float:left;
	border-bottom:1px solid #e2e2e2;
	margin: 0 1px;
	padding: 15px;
}
.c_d_list ul:hover {
	background:#f2f2f2
}
.c_d_list ul:hover a {
	color:#247fbd
}
.c_d_list li {
	width:100%;
	float:left;
	height:31px;
	line-height:31px
}
.c_d_list .l1 {
	width:70%;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.c_d_list .l1 em {
	font-size:14px;
	color:#f60
}
.c_d_list .l2 {
	text-align:right;
	width:30%;
	overflow:hidden;
	color:#666
}
.dan_domain {
	display:inline;
	width:1200px;
	float:left;
	border-bottom:0;
	border-left:1px solid #e2e2e2;
	background:#fff
}
.dan_domain ul {
	width:169px;
	float:left;
	border-right:1px solid #e2e2e2;
	border-top:1px solid #e2e2e2
}
.dan_domain a {
	padding:7px 0;
	float:left;
	width:100%;
	display:inline-block
}
.dan_domain a:hover {
	background:#ffffe5
}
.dan_domain span {
	text-align:center;
	width:100%;
	OVERFLOW:hidden;
	display:inline-block;
	color:#0066cf;
	font-size:15px;
	padding:1px 0
}
.dan_domain em {
	color:#f1453a
}
.dan_domain p {
	padding-left:30px;
	height:21px;
	line-height:21px
}
.t_b_list,.w_d_list {
	display:inline;
	width:1200px;
	float:left
}
.t_b_list {
	display:inline;
	width: 1200px;


	padding: 0 0 0 0;
}
/*一品 猪开发 www.ep zhu.com QQ120 036745*/
.t_b_list ul {

	width:1168px;
	
}
.t_b_list ul:hover {
	background:#f2f2f2
}
.t_b_list li {
	float:left
}
.t_b_list .l1 {
	width:67%
}
.t_b_list .l1 a {
	width:100%;
	float:left;
	color:#247fbd;
	font-size:16px;
	line-height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.t_b_list .l1 a:hover {
	color:#f60
}
.t_b_list .l1 a em {
	color:#f1453a;
	padding-right:5px
}
.t_b_list .l1 p {
	text-indent:1.5em;
	line-height:25px;
	width:100%;
	float:left;
	color:#999;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.t_b_list .l2 {
	text-align:right;
	width:16%;
	line-height:28px;
	color:#666
}
.t_b_list .l2 b {
	color:#f60
}
.t_b_list .l3 {
	float:right;
	width:16%;
	text-align:center
}
.t_b_list .l3 a.bid {
	color:#666;
	background:#f5faff;
	margin:2px 0 5px 0;
	display:inline-block;
	padding:5px 12px;
	border:1px solid #bed3f0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px
}
.t_b_list .l3 a.bid:hover {
	background:#495B6C;
	color:#fff
}
.t_b_list .l3 a.xq {
	color:#999;
	text-decoration:underline
}
.t_b_list .l3 a.xq:hover {
	color:#333
}
.w_d_list div {
	float:left;
	width:1240px
}
.w_d_list ul {
	display:inline;
	border:1px solid #e2e2e2;
	float:left;
	width:228px;
	margin:0 10px 10px 0;
	background:#fff
}
.w_d_list ul:hover {
	border-color:#ccc;
	background:#f2f2f2
}
.w_d_list li {
	float:left
}
.w_d_list .l1 {
	border-bottom:1px solid #e2e2e2;
	line-height:20px;
	height:20px;
	width:212px;
	padding:8px;
	background:#fff
}
.w_d_list .l1 span {
	width:139px;
	line-height:20px;
	height:20px;
	border:1px solid #eee;
	float:left;
	border-left:0;
	padding:0 5px;
	color:#999
}
.w_d_list .l1 em {
	overflow:hidden;
	font-size:14px;
	float:left;
	line-height:20px;
	height:20px;
	text-align:center;
	width:60px;
	background:#fff3eb;
	border:1px solid #fdc7a2;
	float:left;
	color:#f60
}
.w_d_list .l2 {
	width:100%;
	position:relative;
	height:150px;
	overflow:hidden
}
.w_d_list .l2 img {
	width:100%
}
.w_d_list .l2 span {
	DISPLAY:none;
	border-top:1px solid #ddd;
	position:absolute;
	width:100%;
	height:0;
	background:#000;
	filter:alpha(opacity=60);
	-moz-opacity:.6;
	-khtml-opacity:.6;
	opacity:.6;
	top:50%;
	left:0;
	padding:5px
}
.w_d_list .l2 span.cdes {
	color:#fff;
	background:0 0;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	font-family:serif;
	line-height:24px
}
.w_d_list .l3 {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background:#fff;
	float:left;
	width:218px;
	padding:0 5px;
	border-top:1px solid #ddd;
	line-height:27px;
	height:27px
}
.w_d_list .l3 a {
	color:#247fbd
}
.s_d_list div {
	float:left;
	width:1240px
}
.s_d_list a {
	display:inline;
	border:1px solid #e9e9e9;
	float:left;
	width:172px;
	margin:0 10px 10px 0;
	background:#fff;
	padding:7px 8px
}
.s_d_list a:hover img {
	transform:scale(.98)
}
.s_d_list a:hover {
	color:#247fbd
}
.s_d_list img {
	width:170px;
	height:170px;
	border:1px solid #fafafa
}
.s_d_list p {
	width:170px;
	height:20px;
	padding:5px 0 0 0;
	word-break:keep-all;
	white-space:nowrap;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size:14px
}
.link {
	
text-align:left;
	
width: 1200px;
	
margin-top: 20px;
	
overflow:hidden;
}
.link dt {
	font-weight:700;
	width:100%
}
.link dt a {
	float:left;
	margin:0 11px 0 0;
	border:#ddd solid 1px;
	width:107px;
	height:36px;
	overflow:hidden;
	filter:alpha(opacity=90);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8
}
.link dt a:hover {
	border-color:#ccc;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1
}
.link dd {
	float:left;
	width:100%;
	padding: 15px 0;
	line-height:24px;
}
.link dd a {
	color:#666;
	padding-right:10px
}
.link dd a:hover {
	color:#247FBD
}
.index_top {
	width:1200px;
}
/*一品猪 1200 36745 Q*/
.t_left {
	float:left;
	width:199px;
    position: absolute;
}

.t_right {
	float:right;
	width:250px;
	COLOR:#666;
	border:1px solid #e2e2e2;
	background:#fff;
	margin-left: 300px;
	position: absolute;
	left: 52%;
	z-index: 1;    top: 200px;
}
.t_right a {
	COLOR:#666
}
.index_user {
	float:left;
	width:296px;
	height:82px;
	margin-top: 135px;
}
.index_user li {
	float:left
}
.index_user ul {
	overflow:hidden;
	margin:10px 0 11px 11px
}
.index_user a.iu_login,.index_user a.iu_reg {
	float:left;
	display:inline-block;
	width:95px;
	height:34px;
	text-align:center;
	margin:10px 0 10px 19px
}
.index_user .iu_reg {
	BACKGROUND-POSITION:-135px -196px
}
.index_user .iu_reg:hover {
	BACKGROUND-POSITION:-135px -230px
}
.index_user .iu_login {
	BACKGROUND-POSITION:-240px -196px
}
.index_user .iu_login:hover {
	BACKGROUND-POSITION:-240px -230px
}
.index_user .iu_tx {
	padding:5px;
	BACKGROUND-POSITION:-319px -10px;
	width:50px;
	height:50px;
	margin-right:4px
}
.index_user .iu_name {
	font-size:14px;
	padding:2px 0 8px 0;
	width:210px;
	height:20px;
	overflow:hidden;
	word-break:break-all;
	text-overflow:ellipsis;
	white-space:nowrap
}
.index_user .iu_name strong {
	color:#247fbd
}
.index_user .iu_link a {
	float:left;
	display:inline-block;
	padding:4px;
	border:1px solid #eee;
	margin-right:6px
}
.index_user .iu_link a:hover {
	color:#247fbd;
	border:1px solid #247fbd
}
.user_third {
	float:left;
	padding:0 0 10px 19px;
	width:90%
}
.user_third span {
	float:left
}
.user_third a {
	width:21px;
	height:21px;
	margin:-2px 0 0 5px
}
.index_gg {
	width:220px;
	OVERFLOW:hidden;
	height:150px
}
.index_gg .tit {
	font-size:14px;
	padding:8px 0 8px 12px;
	COLOR:#333;
	border-top:1px solid #f3f3f3
}
.index_gg .tit em {
	float:left
}
.index_gg .tit a {
	float:right;
	color:#ddd
}
.index_gg ul {
	width:280px;
	float:left;
	margin-left: -10px;
}
.index_gg li {
	width:280px;
	float:left;
	padding:5px 8px
}
.index_gg li span {
	float:left;
	width:120px;
	OVERFLOW:hidden;
	line-height:18px;
	padding-left:5px
}
.index_gg li span.g2 {
	width:120px;
	padding-left:5px
}
.index_gg li em {
	font-size:13px;
	font-weight:700;
	color:#dd530f;
	font-style:normal
}
.index_gg li .gt {
	float:left;
	WIDTH:220px;
	TEXT-OVERFLOW:ellipsis;
	WHITE-SPACE:nowrap;
	OVERFLOW:hidden;
	padding-left:5px
}
.index_gg li .date {
	FLOAT:right
}
.index_gg li.tisp {
    color: #999;
    letter-spacing: 2px;
    padding-left: 12px;
    margin-top: 5px;
    height: 21px;
    background: url(/images/rtop-notice.png) 0 0 no-repeat;
    display: block;
    overflow: hidden;
    width: 220px;
}
.index_gg .tit .bz {
	BACKGROUND-POSITION:-140px -158px;
	width:27px;
	height:32px;
	position:absolute;
	z-index:2;
	margin:-14px 0 0 125px
}
.scrollbox {
    background: #fff;
    COLOR: #666;
    border: 1px solid #e2e2e2;
    position: absolute;
    width: 1200px;
    position: relative;
    z-index: 2;
    top: 450px;
    background: url(/tem/moban/huzhan/images/dongtai.jpg) center top no-repeat rgb(245, 245, 245);
}
#scrollDiv {
border-top:0;

overflow:hidden;

height: 75px;
}
#scrollDiv ul {
	
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#scrollDiv li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	height:30px;
}
#scrollDiv li a {
	color:#369;
	text-decoration:none
}
#scrollDiv li a:hover {
	color:red;
	text-decoration:underline
}

#scrollDiv2 {

border:#e2e2e2 1px solid;

border-top:0;

overflow:hidden;

height: 75px;
}
#scrollDiv2 ul {
	width:930px;
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#scrollDiv2 li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	border-bottom:#e2e2e2 dashed 1px;
	height:30px;
	padding-top:5px
}
#scrollDiv2 li a {
	color:#369;
	text-decoration:none
}
#scrollDiv2 li a:hover {
	color:red;
	text-decoration:underline
}

#scrollDiv3 {

border:#e2e2e2 1px solid;

border-top:0;

overflow:hidden;

height: 75px;
}
#scrollDiv3 ul {
	width:930px;
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#scrollDiv3 li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	border-bottom:#e2e2e2 dashed 1px;
	height:30px;
	padding-top:5px
}
#scrollDiv3 li a {
	color:#369;
	text-decoration:none
}
#scrollDiv3 li a:hover {
	color:red;
	text-decoration:underline
}

#scrollDiv4 {

border:#e2e2e2 1px solid;

border-top:0;

overflow:hidden;

height: 75px;
}
#scrollDiv4 ul {
	width:930px;
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#scrollDiv4 li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	border-bottom:#e2e2e2 dashed 1px;
	height:30px;
	padding-top:5px
}
#scrollDiv4 li a {
	color:#369;
	text-decoration:none
}
#scrollDiv4 li a:hover {
	color:red;
	text-decoration:underline
}
#scrollDiv5 {

border:#e2e2e2 1px solid;

border-top:0;

overflow:hidden;

height: 75px;
}
#scrollDiv5 ul {
	width:930px;
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#scrollDiv5 li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	border-bottom:#e2e2e2 dashed 1px;
	height:30px;
	padding-top:5px
}
#scrollDiv5 li a {
	color:#369;
	text-decoration:none
}
#scrollDiv5 li a:hover {
	color:red;
	text-decoration:underline
}
#epzhucomQQ120036745 {

border:#e2e2e2 1px solid;

border-top:0;

overflow:hidden;

height: 75px;
}
#epzhucomQQ120036745 ul {
	width:930px;
	padding:0 10px;
	height: 75px;
	overflow:hidden;
}
#epzhucomQQ120036745 li {
	overflow:hidden;
	line-height:22px;
	vertical-align:bottom;
	zoom:1;
	border-bottom:#e2e2e2 dashed 1px;
	height:30px;
	padding-top:5px
}
#epzhucomQQ120036745 li a {
	color:#369;
	text-decoration:none
}
#epzhucomQQ120036745 li a:hover {
	color:red;
	text-decoration:underline
}

.scroltit {

	font-size:14px;
	padding:8px 0 9px 10px;
	OVERFLOW:hidden;
	background:#f3f3f3 url(../images/new_zeng.gif) 0 bottom repeat-x;
	border:#e2e2e2 1px solid;
	border-bottom:0
}
.scroltit strong {
	padding-right:5px;
	float:left
}
.scroltit em {
	color:#e0e0e0;
	font-size:12px;
	line-height:19px;
	float:left
}
.scroltit small {
	float:right;
	margin:0 5px 0 0;
	height:15px;
	width:15px;
	BORDER:#ddd 1px solid;
	display:inline;
	OVERFLOW:hidden
}
.scroltit small:hover {
	BORDER:#235baf 1px solid
}
#but_up {
	BACKGROUND-POSITION:-260px -7px
}
#but_down {
	BACKGROUND-POSITION:-260px -20px
}
#but_down:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up:hover {
	BACKGROUND-POSITION:-281px -7px
}
#but_up2 {
	BACKGROUND-POSITION:-260px -7px
}
#but_down2 {
	BACKGROUND-POSITION:-260px -20px
}
#but_down2:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up2:hover {
	BACKGROUND-POSITION:-281px -7px
}
#but_up3 {
	BACKGROUND-POSITION:-260px -7px
}
#but_down3 {
	BACKGROUND-POSITION:-260px -20px
}
#but_down3:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up3:hover {
	BACKGROUND-POSITION:-281px -7px
}
#but_up4 {
	BACKGROUND-POSITION:-260px -7px
}
#but_down4 {
	BACKGROUND-POSITION:-260px -20px
}
#but_down4:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up4:hover {
	BACKGROUND-POSITION:-281px -7px
}
#but_up5 {
	BACKGROUND-POSITION:-260px -7px
}
#but_down5 {
	BACKGROUND-POSITION:-260px -20px
}
#but_down5:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up5:hover {
	BACKGROUND-POSITION:-281px -7px
}
#but_up6 {
	BACKGROUND-POSITION:-260px -7px
}
#but_down6 {
	BACKGROUND-POSITION:-260px -20px
}
#but_down6:hover {
	BACKGROUND-POSITION:-281px -20px
}
#but_up6:hover {
	BACKGROUND-POSITION:-281px -7px
}
.sidebar {
	border:1px solid #e2e2e2;
	width:199px;
	position:relative;
	z-index:9;
	border-top:0;
	background:#fff
}
.sidebar_top {
	padding:0 0 10px 53px;
	line-height:35px;
	font-weight:700;
	font-size:14px;
	color:#000;
	cursor:pointer;
	border-bottom:0;
	background:url(../images/sidebar_ico.gif) bottom left no-repeat;
	margin:0 0 0 -8px;
    margin-top: -20px;width: 164px;
}
.sidebar_menu {
	padding-top:11px;
	height:55px;
	position:relative;
	z-index:100;
	border:1px solid #fff;
	border-bottom:1px dotted #a8a8a8
}
.sidebar_menu i {
	color:#444;
	float:left;
	width:32px;
	height:32px;
	margin-top:-5px;
	font-size:32px
}
.sidebar_menu a {
	color:#777;
	padding-left:3px
}
.sidebar_menu a:hover {
	color:#005ea8
}
.sidebar_menu h3 {
	font-size:15px;
	padding:0 0 5px 10px;
	border:none;
	font-weight:400
}
.sidebar_menu h3 a {
	color:#333
}
.sidebar_menu p {
	padding-left:35px
}
.sidebar_focus {
	margin-top:-1px;
	padding-top:12px;
	position:relative;
	z-index:102;
	background:#fafafa;
	border:1px solid #235baf;
	border-right:0
}
.sidebar_focus i {
	color:#235baf
}
.sidebar_popup {
	position:absolute;
	z-index:101;
	left:200px;
	top:0;
	width:790px;
	border:1px solid #235baf;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:2px 2px 10px #969696;
	-webkit-box-shadow:2px 2px 10px #969696;
	box-shadow:2px 2px 10px #969696;
	height:auto!important;
	height:384px;
	min-height:200px
}
.sidebar_popup_con {
	padding:0 10px;    height: 420px
}
.sidebar_popup_con ul {
	width:770px;
	float:left;
	padding:5px 0;
}
.sidebar_popup_con ul:hover {
	background-color:#fff
}
.sidebar_popup_con li {
	float:left;
	line-height:25px
}
.sidebar_popup_con .type {
	float:left;
	width:100%;
	color:#DB4F33;
	text-align:center;
	height:25px;
	line-height:25px;
	font-size:14px;
	margin:20px 0 -5px 0
}
.sidebar_popup_con .type a {
	color:#fff;
	display:inline-block;
	background-color:#75a5ed;
	padding:0 10px
}
.sidebar_popup_con .type .ht {
	margin-bottom:-12px;
	height:1px;
	border:0;
	background-color:#75a5ed
}
.sidebar_popup_con .hr a {
	background-color:#EB7777
}
.sidebar_popup_con .hr .ht {
	background-color:#EB7777
}
.sidebar_popup_con .att {
	width:70px;
	text-align:center;
	color:#75a5ed;
	font-weight:700;
	border:1px solid #75a5ed
}
.sidebar_popup_con .ar {
	color:#EB7777;
	border:1px solid #EB7777
}
.sidebar_popup_con .con {
	width:688px;
	margin-left:10px
}
.sidebar_popup_con .con a {
	padding:0 5px;
	color:#000;
	margin-right:7px;
	display:inline-block;
	text-align:center;
	color:#000;
	min-width:40px
}
.sidebar_popup_con .con a:hover {
	color:#fff;
	text-decoration:none;
	background:#75a5ed
}
.sidebar_popup_con .cr a {
	color:#EB7777
}
.sidebar_popup_con .cr a:hover {
	background:#EB7777
}

.flexslider {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: 482PX;
    overflow: hidden;
    zoom: 1;
    position: absolute;
}
.flexslider .slides li {
	width: 100%;
	height: 100%;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../images/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
    right: 40px;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
	right: 50px;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(../images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}

.flexslider .slides a img {
	width: 100%;
	height: 482px;
	display: block;
}

/*首页右侧注册上面*/


.rtop {
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	-webkit-transition:transform .2s linear;
	-webkit-transition:-webkit-transform .2s linear;
	transition:-webkit-transform .2s linear;
	transition:transform .2s linear;
	transition:transform .2s linear,-webkit-transform .2s linear;
	border-radius:8px;
	background:url(/images/rtop-bg.png) center top no-repeat;
	height:138px;
	width:234px;
	margin:-8px 8px 0 8px
}
.rtop cite {
	height:54px;
	display:block;
	background:url(/images/rtop-title.png) center center no-repeat
}
.rtop a {
	text-align:center;
	display:inline-block;
	color:#fff;
	width:50px;
	padding:2px 5px 1px 5px;
	margin:10px 5px;
	line-height:25px;
	border-radius:3px
}
.rtop div {
	text-align:center;
	font-size:12px
}
.rtop i {
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	height:26px;
	width:26px;
	display:inline-block
}
.rtop i.i-buy {
	background-position:-296px -504px
}
.rtop i.i-shop {
	background-position:-207px -504px
}
.rtop i.i-help {
	background-position:-178px -504px
}
.rtop a:hover i,.rtop:hover {
	-webkit-transform:translateY(-2px);
	-moz-transform:translateY(-2px);
	-ms-transform:translateY(-2px);
	-o-transform:translateY(-2px);
	transform:translateY(-2px)
}

.rmerit {
	position:relative;
	border-top:1px solid #f5f5f5;
	z-index:1
}
.rmerit dt {
	overflow:hidden
}
.rmerit dt li {
	position:relative;
	float:left;
	width:63px;
	border-bottom:1px solid #dfdfdf
}
.rmerit dt li.last {
	width:61px
}
.rmerit dt li.curr a {
	color:#333
}
.rmerit dt li.curr i {
	display:block
}
.rmerit dt a {
	display:block;
	text-align:center;
	padding:10px 0 12px 0;
	border-right:1px solid #f5f5f5;
	color:#666
}
.rmerit dt p {
	margin-top:0;
	line-height:12px;
	font-size:12px
}
.rmerit em {
	margin:0 0 5px 0;
	width:28px;
	height:28px;
	display:inline-block
}
.rmerit em.i-kj {
	background-position:-267px -500px
}
.rmerit em.i-jy {
	background-position:-239px -500px
}
.rmerit em.i-xb {
	background-position:-239px -472px
}
.rmerit em.i-sm {
	background-position:-267px -472px
}
.rmerit i {
	display:none;
	position:absolute;
	width:15px;
	height:8px;
	left:50%;
	margin-left:-6.5px;
	bottom:-1px;
	background-position:-136px -171px
}
.rmerit dt img {
	margin:0 0 5px 0
}
.rmerit dd {
	position:absolute;
	top:68px;
	left:0;
	width:92%;
	overflow:hidden;
	display:none;
	padding:10px 4%;
	line-height:14px;
	border-bottom:1px solid #dfdfdf;
	background:#fafafa
}
.rmerit dd.m {
	padding:10px 4%;
	line-height:22px
	
}
.scroll-index .icons {
    float: left;
    margin-top: 5px;
    width: 21px;
    height: 20px;
    background-position: -218px -483px;
	
}
.scroll-index span {
    float: left;
    font-size: 14px;
    margin: 0 0 0 4px;
    color: #666;
    padding: 0 0 0 6px;
    line-height: 28px;
    height: 28px;
}
.scroll-index i {
    vertical-align: -1px;
    padding: 0 2px;
    color: #f60;
    font-size: 16px;
    font-family: DINMEDIUM,sans-serif;
}
.cite, em1, i {
    font-style: normal;
    vertical-align: -1px;
    padding: 0 2px;

    font-size: 12px;
    font-size: 12px;
    font-family: DINMEDIUM,sans-serif;
}
/*首页右侧注册上面结束*/